.theme-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 4px 4px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  
  
  .dark {
    background-color: #333;
    color: #fff;
    border: 2px solid white;
  }
  
  .dark a {
    color: #fff;
  }
  
  .dark a:hover {
    color: #ccc;
  }