@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
      background-color: #ffffff; /* Default background color for light mode */
      color: #000000; /* Default text color for light mode */
    }
    
    /* Apply dark mode styles */
    body.dark {
      background-color: #121212; /* Background color for dark mode */
      color: #e0e0e0; /* Text color for dark mode */
    }
  
    /* Dark mode specific styles for elements */
    .dark .container {
      background-color: #121212; /* Background color for containers in dark mode */
      color: #e0e0e0; /* Text color for containers in dark mode */
    }
  
    .dark .border-gray-300 {
      border-color: #444444; /* Dark border color */
    }
  
    .dark .bg-bubble-gum-500 {
      background-color: #ff66cc; /* Darker bubble gum color for dark mode */
    }
  
    .dark .hover\:bg-bubble-gum-700:hover {
      background-color: #ff77e9; /* Darker hover color for bubble gum in dark mode */
    }
  }